langchain_community
langchain_groq
langchain_google_genai
langchain-milvus
langchain
typing_extensions
python-dotenv
langgraph
Milvus
fastapi
uvicorn
pymilvus
faiss-cpu
PyPDF2
pymongo
python-multipart
